@{
    ViewData["Title"] = "CarDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-content">
                <p class="lead"></p>


                <div class="pt-5">

                    @await Component.InvokeAsync("_CarDetailCommentComponentPartial", new {id=ViewBag.id})

                    @await Component.InvokeAsync("_CarDetailLeaveCommentComponentPartial")

                </div>
            </div>

            <div class="col-md-4 sidebar">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Arama Çubuğu">
                        </div>
                    </form>
                </div>
                @await Component.InvokeAsync("_CarDetailCategoryComponentPartial")

                @await Component.InvokeAsync("_CarDetailAboutAuthorComponentPartial", new {id=ViewBag.id})


              
            </div>
        </div>
    </div>
</div>