﻿<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="footer-heading mb-8">Hakkımızda</h2>
                <p>2015 Yılından bu yana sektörde siz kıymetli müşterilerimize hizmet vermekten mutluluk duyuyoruz.Hedefimiz her geçen gün filomuzu daha çok büyüterek sizin için en doğru araçları bulmanızı sağlamaktır. </p>
            </div>
            <div class="col-lg-8 ml-auto">
                <div class="row">
                    <div class="col-lg-3">
                       
                    </div>
                    <div class="col-lg-3">
                       
                    </div>
                    <div class="col-lg-3">
                       
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Müşteri Memnuniyeti</a></li>
                            <li><a href="#">Hizmetler</a></li>
                            <li><a href="#">Arabalar</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>